{% extends 'base.html.twig' %}

{% block title %}Detalle tarea{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h1>{{ task.title }}</h1>
  <p class="data-task">
    {{ task.user.name }} {{ task.user.surname }} | {{ task.createdAt|date("d/m/Y H:i:s")}} | 
    {% if task.priority == "high" %}
      {{ "Alta" }}
    {% endif %}
    {% if task.priority == "medium" %}
        {{ "Media"}}
    {% endif %}
    {% if task.priority == "low" %}
        {{ "Baja" }}
    {% endif %} 
    | {{ task.hours }}h
  </p>
  <p>
    {{ task.content }}
  </p>
</div>
{% endblock %}
